# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env

# Django
*.sqlite3
media/
staticfiles/
local_settings.py
fix_users.py

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
